/* site colors {
    #086972
    #01a9b4
    #87dfd6
    #fbfd8a
} */

* {
    margin: 0;
    font-family: 'Oleo Script', cursive;
}

body {
    background-color: #222831;
}

/*******************
BOOKFINDER Component
*******************/

.bookfinder {
    margin-top: 5rem;
}

.title {
    letter-spacing: 7px;
    color: #00adb5;
    text-align: center;
    padding: 20px;
    animation: title .5s ease-in-out;
}

.title h1 {
    text-shadow: 4px 2px #393e46;
}

.search {
    margin: 0 auto;
    border: 2px solid #00adb5;
    display: flex;
    padding: 10px;
    width: 20rem;
    border-radius: 1rem;
    animation: search .5s ease-in-out;
}

.search input {
    flex: 1;
    max-height: 50px;
    background-color: #fff;
    border-radius: 4px;
    border-color: white;
    outline: none;
}

.search button {
    background-color: #fff;
    border-radius: 4px;
    border-color: white;
    border: none;
    outline: none;
}

.search img {
    max-height: 15px;
}

/*****************
BOOK Component
******************/

.book-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.book-content {
    margin: 3rem 3rem;
    border-radius: 2rem;
    text-align: center;
    border: 10px solid #393e46;
    background-color: #393e46;
    width: 20rem;
    box-shadow: 1px 1px 17px 12px#eeeeee;
    animation: book .5s ease-in-out;
}

.book-content span {
    color: #00adb5;
}

.book-content h4 {
    font-weight: bold;
    color: #eeeeee;
}

.book-content p {
    color: #eeeeee;
}

/****************
Animations
*****************/

@keyframes title {
    0% {
        opacity: 0;
        transform: translateX(8rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes search {
    0% {
        opacity: 0;
        transform: translateX(-8rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes book {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}